
<h1>Recipe for:&nbsp;<%= @recipe.description() %></h1>
<a href="/recipes/<%= @recipe.id() %>/edit">Edit</a>
<h3>filed under:</h3> <% @recipe_categories.each do |category| %>
  <li><%= category.description() %></li>
  <% end %>

<% if @ingredients.any? %>
  <h3>Ingredients:</h3>
  <% @ingredients.each do |ingredient| %>
    <ul>
      <li><%= ingredient.description() %></li>
    </ul>
  <% end %>
<% else %>
  <p>no ingredients yet</p>
<% end %>

<% if @instructions.any? %>
  <h3>Instructions:</h3>
  <ol><% @instructions.each do |instruction| %>
      <li><%= instruction.description() %></li>
  <% end %></ol>
<% else %>
  <h4>no instructions yet</h4>
<% end %>

<br><br>
#rate this recipe
<br><br>
#delete button
<br><br>

<a href="/">Home</a>
