<h1><%= @recipe.description() %></h1>
<font color="red">WARNING:</font> YOU ARE IN EDIT MODE! (<a href="/recipes/<%= @recipe.id %>">Exit</a>)
<h5><a href="/recipes/<%= @recipe.id %>/edit/category">Change Categories</a></h5>
<br>


<% if @ingredients.any? %>
  <h4>Ingredients:</h4>
  <ul><% @ingredients.each do |ingredient| %>
      <li><%= ingredient.description() %></li>
  <% end %></ul>
<% else %>
  <p>no ingredients yet</p>
<% end %>

<form action="/ingredients" method="post">
  <input id="recipe_id" name="recipe_id" type="hidden" value="<%= @recipe.id() %>">
  <label for="ingredient">Add ingredient: (e.g."butter, 2 tablespoons")</label><br>
  <input id="ingredient" name="ingredient" type="text">

  <button type="submit">Submit</button>
</form>
<br>

<% if @instructions.any? %>
  <h4>Instructions:</h4>
  <ol><% @instructions.each do |instruction| %>
      <li><%= instruction.description() %></li>
  <% end %></ol>
<% else %>
  <h4>no instructions yet</h4>
<% end %>


<form action="/instructions" method="post">
  <input id="recipe_id" name="recipe_id" type="hidden" value="<%= @recipe.id() %>">
  <label for="instruction">Add a step:</label><br>
  <input id="instruction" name="instruction" type="text">

  <button type="submit">Submit</button>
</form>

<br>
<br>
<a href="/">Go Home</a>
<br>
<br>
