
<h1><%= @recipe.description() %></h1>
<a href="/recipes/<%= @recipe.id() %>/edit">Enter Edit Mode</a>
<h6><strong>FILED UNDER:</strong><br><% @recipe_categories.each do |category| %>
  <%= category.description() %><br>
  <% end %><h6>
<br>

<% if @ingredients.any? %>
  <h4>Ingredients:</h4>
  <ul><% @ingredients.each do |ingredient| %>
      <li><%= ingredient.description() %></li>
  <% end %></ul>
<% else %>
  <p>no ingredients yet</p>
<% end %>

<% if @instructions.any? %>
  <h4>Instructions:</h4>
  <ol><% @instructions.each do |instruction| %>
      <li><%= instruction.description() %></li>
  <% end %></ol>
<% else %>
  <h4>no instructions yet</h4>
<% end %>

<br>

#rate this recipe
<br>
#delete button
<br><br>

<a href="/">Home</a>
